:root {
  --text-color:#c0c5d4;
  --heading-color: #EFF1F3;
  --background-color: #020B22;
  --neon-text-color: #CFFF04;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: var(--text-color);
  padding: 0 10px;
  background-color: var(--background-color);
}

h1,
h2 {
  line-height: 1.2;
  color: var(--heading-color);
}
h3 {
  line-height: 1.2;
}

.heading-text-highlight0::after,
.heading-text-highlight1::after,
.heading-text-highlight2::after,
.heading-text-highlight3::after,
.heading-text-highlight4::after {
  content: "";
  width: 1px;
  height: 26px;
  background: var(--heading-color);
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
  margin-left: 3px;
  position: relative;
  top: 50%;
  transform: translateY(10%);
}

#typingEffect::after {
  content: "";
  width: 1px;
  height: 16px;
  background: var(--neon-text-color);
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
  margin-left: 1px;
  position: relative;
  top: 50%;
  transform: translateY(-80%);
}

#typingEffect {
  color: var(--neon-text-color);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
}

.left-side-header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 20px; 
  width: 400px;
}

.right-side-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: var(--text-color);
  border-left-style: solid;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}